$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import 'partials/colors';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/nav';
@import 'partials/mainContent';
@import 'partials/sideBar';
@import 'partials/footer';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.welcomeHeading {
  text-align:center;
}

.mainParagraph {
  text-align: center;
}

