/*
Header section
Consists of:
 - .header
 - .header-bar (The top section, call information with social buttons)
 - .headerCard (The image and call information)
 - *.nav menu will be in a separate partial
*/

.header {
  background-color: $primary-color;
  color: $main-content;
  border-bottom: 10px solid $border-bottom;
  padding-top: 1.1rem;
}

/* Header Contact*/

.headerContact {
	float:left;
	font-size: 20px;
	padding-top: 1.1rem;
	margin-bottom: 1.3rem;
}

/*Social*/
.social {
padding-top: 1.1rem;
	float:right;
	margin-bottom: 1.5rem;
}
.social ul {
  list-style-type: none;
}

.social li {
  display: inline-block;
}

.social li a {
	color: #FFF;
}

.fa {
	font-size: 26px;
}