// TOP NAV

.navbar-header {
  padding: 0px;
  margin: 0px;
}

.navbar-header a {
  background-color: $top-menu;
  margin-left: 15px;
  padding: 25px 184px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  border: none;
  border-radius: 4px;
}

.navbar-header a span {
text-align: left;
  padding: 15px 2px;
  margin: 0px;
  position: absolute;
  left: 16px;
}

.navbar, .navbar-default, .navbar-fixed {
  width: 100%;
}

.navbar-collapse, .navbar-header {
  border-top:none;
  border-bottom: none;
  box-shadow:none;
  margin: 0px;
  padding:0px;
}

.glyphicon-align-justify::after {
content: "Menu";
color: #FFF;
padding-left: 10px;
}

.navbar-nav > li > a {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    margin-left: 56px;
}

.sub-menu > li > a {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    margin-left: 56px;
}

.sub-menu > li > a:before {
font-family: FontAwesome;
content: '\f068';
color: white;
font-size: 12px;
padding-right: 6px;
}

.sub-menu > li > a:hover {
text-decoration: none;
}

.navbar-nav > li > a:hover {
 color: #FFF;
 font-size: 20px;
 text-transform: uppercase;
 font-weight: 700;
 background-color: $primary-color;
 text-decoration: none;
}
.navbar-toggle, .collapsed, .navbar-toggle:hover, .collapsed:hover {
  margin-left: 15px;
    padding: 25px 184px;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
  float: left;
  border: none;
}

.navbar-collapse, .collapse, .in {
background-color: $primary-color;
width:100%;
overflow: hidden;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 100%;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $top-menu;
}

.glyphicon-align-justify {
  color: #FFF;
  float: left;
}

.logoArea {
	display: inline-block;
}

.logoImage {
	background: url("../images/logo.png") no-repeat;
	display: block;
	background-size: 100%;
  width: 100%;
  min-height: 200px;
}

.imageCover {
  width: 300px;
  height: 200px;
}

.callActionText {
	line-height: 26px;
	font-weight: 700;
	color: #171717;
}
.bluePhone {
	font-size: 26px;
	line-height: 26px;
	font-weight: 700;
	color: $primary-color;
}

.headerCard {
	position: relative;
    width: 100%;
    min-height: 300px;
    padding-bottom: 0px;
}

// Menu
.menu-container {
	position: relative;
}
.menu {
position:relative;
  width: 100%;
  color: white;
  padding: 0px;
  line-height: 0px;
  display: block;
}
.menu ul {
  background: linear-gradient(to right, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 25%,rgba(255,255,255,0.8) 75%,rgba(255,255,255,0.2) 100%);
  text-align: center;
  // padding: 0px !important;
  list-style-type: none;
}

.menu li { 
  display: inline-block;
  padding: 16px 14px;
  margin-right: -4px;
}


.menu li a {
  position: relative;
  display: block;
  color: black;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.menu a:hover {
  color: #FFF;
}

.menu li:hover {
  background-color: #144a80;
}




 /* Queries 800px menu change */ 
    @media only screen and (max-width : 755px) {
        .topMenu {
        background: $primary-color;
        min-height: 50px;
        }
        .screenMenu {
        display:none;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 756px) {
        .screenMenu {
        	position:absolute;
  			bottom: -10px;
  			left: 10rem;
  			right: 10rem;

        }
        .topMenu {
        display:none;
        }
    }
